<%- include('header') -%>
<% if(!error) { %>
    <h1>Ooopsie Boopsie</h1>
    <p class="errorText">Account already exists</p>
    <a href="/"><button>Return</button></a>
<%} else { %>
    <p class="errorText"> <%= error %></p>
    <a href="/"><button>Return</button></a>
<% } %>
<%- include('footer') -%>