<%- include('header') -%>  
<div class="text-success">
    <h1><%= title %></h1>
</div>
<div class="text-success">
    <form method="post" action="signup" autocomplete="off">
        <label>
            <p>Username</p>
            <input class="input" id="username" type="text" name="username">
        </label>
        <label>
            <p>Password</p>
            <input class="input" id="password" type="password" name="password">
        </label>
        <div>
            <button class="btn btn-info ">Create Account</button>
        </div>
    </form>
    <form method="get" action="/">
        <button class="btn btn-outline-info">Cancel</button>
    </form>
    <% if (data.bool) { %>
        <div class="errors">
            <ul>
                <% for (let i = 0; i < data.errorMessages.length; i++){ %>
                  <div class="villa">
                  <li><%= data.errorMessages[i] %> </li>
                  </div>
                <% } %>
            </ul>
        </div>
      <% } %>
</div>
<%- include('footer') -%>