<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <title>Undirskriftalisti</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <h1 class="header__Title"><%= title %></h1>
    </div>
    <div class="signup__Form">
        <form method="post" action="/signup" autocomplete="off" class="signup__Div">
            <label class="signup__Row">
                <p>Notendanafn</p>
                <input class="input" id="username" type="text" name="username" >
            </label>
            <label class="signup__Row">
                <p>Lykilorð</p>
                <input class="input" id="password" type="password" name="password"  >
            </label>
            <div class="signup__Button">
                <button>Innskrá</button>
            </div>
        </form>
        <% if (message) { %>
            <div class="errors">
              <p><%= message %></p>
            </div>
          <% } %>
        <a href="/">Til baka</a>
        <div>
            <p> Átt þú nú þegar aðgang? <a href="/login">Innskráning</a></p>
        </div>
    </div>
</body>